# 미션: 서울 아파트 가격 데이터 분석

각 코드 셀의 지시사항대로 2022년 서울 아파트 거래 데이터를 분석해보도록 하겠습니다.

In [49]:
import pandas as pd
import numpy as np

### 1. 데이터셋을 불러오고 데이터 일부를 확인합니다.

In [50]:
data = pd.read_csv('data/seoul_apart_2022.csv')
df = pd.DataFrame(data)
df.head()

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,거래유형,중개사소재지
0,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202204,12,"220,000",4,1987.0,언주로 3,NaN,중개거래,서울 강남구
1,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202204,21,"220,000",2,1987.0,언주로 3,NaN,중개거래,서울 강남구
2,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202205,27,"216,000",2,1987.0,언주로 3,NaN,중개거래,서울 강남구
3,서울특별시 강남구 개포동,1282,1282.0,0.0,개포래미안포레스트,102.32,202204,1,"369,000",13,2020.0,개포로 264,NaN,중개거래,"서울 강남구, 서울 양천구"
4,서울특별시 강남구 개포동,1282,1282.0,0.0,개포래미안포레스트,136.06,202205,2,"420,000",17,2020.0,개포로 264,NaN,중개거래,서울 강남구

### 2. 전체 데이터의 갯수와 자료형 등을 확인합니다.

In [51]:
print(df.shape)
df.info()

(12684, 15)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12684 entries, 0 to 12683
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   시군구       12684 non-null  object
 1   번지        12681 non-null  object
 2   본번        12682 non-null  float64
 3   부번        12682 non-null  float64
 4   단지명       12684 non-null  object
 5   전용면적(㎡)   12684 non-null  float64
 6   계약년월      12684 non-null  int64
 7   계약일       12684 non-null  int64
 8   거래금액(만원)  12651 non-null  object
 9   층         12684 non-null  int64
 10  건축년도      12682 non-null  float64
 11  도로명       12684 non-null  object
 12  해제사유발생일   715 non-null    float64
 13  거래유형      12684 non-null  object
 14  중개사소재지    12684 non-null  object
dtypes: float64(5), int64(3), object(7)
memory usage: 1.5+ MB

### 3. 데이터프레임 `df`에서 사용하지 않을 특정 컬럼을 제거하세요.

- `drop`을 활용해서 데이터 분석 과정에서 활용하기 어려운 컬럼들을 삭제합니다.
- 삭제할 컬럼은 다음과 같습니다: **"해제사유발생일", "중개사소재지", "번지", "본번", "부번", "도로명", "거래유형"**
* 컬럼 삭제가 원본 데이터프레임 `df`에 적용이 되어야 합니다.

In [52]:
df = df.drop(columns=['해제사유발생일','중개사소재지','번지','본번','부번','거래유형','도로명'])
print(df.shape)
df.head()

(12684, 8)

             시군구             단지명  전용면적(㎡)    계약년월  계약일 거래금액(만원)   층    건축년도
0  서울특별시 강남구 개포동  개포6차우성아파트1동~8동    79.97  202204   12  220,000   4  1987.0
1  서울특별시 강남구 개포동  개포6차우성아파트1동~8동    79.97  202204   21  220,000   2  1987.0
2  서울특별시 강남구 개포동  개포6차우성아파트1동~8동    79.97  202205   27  216,000   2  1987.0
3  서울특별시 강남구 개포동       개포래미안포레스트   102.32  202204    1  369,000  13  2020.0
4  서울특별시 강남구 개포동       개포래미안포레스트   136.06  202205    2  420,000  17  2020.0

### 4. "전용면적(㎡)" 컬럼의 제곱미터가 특수문자라 사용하기 어려움으로 일단 "전용면적"으로 이름을 바꾸세요!
- 컬럼의 이름을 변경 후, 원본 데이터프레임에 반영하세요.

In [53]:
df.rename(columns={'전용면적(㎡)': '전용면적'}, inplace=True)
df.head()

             시군구             단지명    전용면적    계약년월  계약일 거래금액(만원)   층    건축년도
0  서울특별시 강남구 개포동  개포6차우성아파트1동~8동   79.97  202204   12  220,000   4  1987.0
1  서울특별시 강남구 개포동  개포6차우성아파트1동~8동   79.97  202204   21  220,000   2  1987.0
2  서울특별시 강남구 개포동  개포6차우성아파트1동~8동   79.97  202205   27  216,000   2  1987.0
3  서울특별시 강남구 개포동       개포래미안포레스트  102.32  202204    1  369,000  13  2020.0
4  서울특별시 강남구 개포동       개포래미안포레스트  136.06  202205    2  420,000  17  2020.0

### 5. "시군구"컬럼의 주소는 활용하기 쉽게 "구" 컬럼과 "동" 컬럼으로 분리합니다.
- "시군구" 컬럼과 apply() 함수를 활용하세요.
- 분리하는 로직은 문자열의 split() 함수를 활용하세요.

In [54]:
# 시군구 분리하기
df['구'] = df['시군구'].str.split(' ').str[1]
df['동'] = df['시군구'].str.split(' ').str[2]
df.head()

,시군구,단지명,전용면적,계약년월,계약일,거래금액(만원),층,건축년도,구,동
0,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,79.97,202204,12,"220,000",4,1987.0,강남구,개포동
1,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,79.97,202204,21,"220,000",2,1987.0,강남구,개포동
2,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,79.97,202205,27,"216,000",2,1987.0,강남구,개포동
3,서울특별시 강남구 개포동,개포래미안포레스트,102.32,202204,1,"369,000",13,2020.0,강남구,개포동
4,서울특별시 강남구 개포동,개포래미안포레스트,136.06,202205,2,"420,000",17,2020.0,강남구,개포동

### 6. 면적에 따라 아파트의 유형을 분류하려고 합니다.
- category(e) 함수를 정의하고, 분류하는 코드를 작성하세요.
  - "전용면적"이 60 이하면 **소형**, 60보다 크고 85 이하면 **중형**, 85보다 크고 102 이하면 **중대형**, 102보다 크면 **대형**으로 분류됩니다.
- apply() 함수와 위에 정의한 category() 함수를 활용하여, 분류된 값을 "유형" 컬럼으로 새로 추가하세요.

In [55]:
# 면적에 따라 아파트 유형을 분류하는 함수
def category(e):
    if e <= 60:
        return '소형'
    elif 60 < e <= 85:
        return '중형'
    elif e <=102:
        return '중대형'
    else:
        return '대형'
    
df['유형'] = df['전용면적'].apply(category)
df.head()

,시군구,단지명,전용면적,계약년월,계약일,거래금액(만원),층,건축년도,구,동,유형
0,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,79.97,202204,12,"220,000",4,1987.0,강남구,개포동,중형
1,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,79.97,202204,21,"220,000",2,1987.0,강남구,개포동,중형
2,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,79.97,202205,27,"216,000",2,1987.0,강남구,개포동,중형
3,서울특별시 강남구 개포동,개포래미안포레스트,102.32,202204,1,"369,000",13,2020.0,강남구,개포동,대형
4,서울특별시 강남구 개포동,개포래미안포레스트,136.06,202205,2,"420,000",17,2020.0,강남구,개포동,대형

### 7. "계약년월" 컬럼과 "계약일" 컬럼을 "계약일" 컬럼에 합치고, 날짜타입으로 변경합니다.
- "계약년월" 컬럼과 "계약일" 컬럼을 "문자열" 타입으로 변경 후, "계약일" 컬럼에 합치세요.
- 합친 후, "계약일" 컬럼을 날짜 타입으로 변경하세요. 
- 날짜타입으로 변경할 때, format='%Y%m%d' 옵션을 추가하여 "계약일" 컬럼의 날짜 형식을 잘 인식하도록 합니다.

In [56]:
df['계약년월'] = df['계약년월'].astype('str')
df['계약일'] = df['계약년월'] + df['계약일'].astype('str')
df['계약일'] = pd.to_datetime(df['계약일'], format='%Y%m%d')

### 8. "계약일" 컬럼의 데이터가 `datetime`으로 변경되었습니다. 이제 계약일 데이터를 활용해 "계약월"과 "계약요일" 컬럼을 생성해보겠습니다.
- dt 속성을 활용하여, "계약월", "계약요일" 컬럼을 생성하세요.
- "계약요일" 컬럼의 경우, 각각 '월', '화', '수', '목', '금', '토', '일' 형태로 변환하세요.

In [57]:
df['계약월'] = df['계약일'].dt.month
df['계약요일'] = df['계약일'].dt.day_name()

d = {'Monday': '월요일', 'Tuesday': '화요일', 'Wednesday': '수요일',
     'Thursday': '목요일', 'Friday': '금요일', 'Saturday': '토요일', 'Sunday': '일요일'}
df['계약요일'] = df['계약요일'].map(d)

부동산 거래 데이터에서 가장 중요한 데이터는 "거래금액(만원)"입니다. 이 거래금액을 활용하여 정렬을 하거나 다양한 통계값을 계산할 수 있습니다.

### 9. "거래금액(만원)" 컬럼을 활용하기 전에 데이터의 결측치를 확인해보도록 하겠습니다.

In [59]:
df.isna().sum()

시군구          0
단지명          0
전용면적         0
계약년월         0
계약일          0
거래금액(만원)    33
층            0
건축년도         2
구            0
동            0
유형           0
계약월          0
계약요일         0
dtype: int64

"거래금액(만원)" 컬럼에 33개의 결측치가 있습니다. 거래금액은 데이터 분석에서 굉장히 중요한 정보이기 때문에 거래금액 정보가 없는 데이터는 사용할 수 없고, 다른 통계값으로 채워넣기에도 좋지 않습니다.

마침 데이터가 12000개가 넘어서 꽤 많기 때문에, 이번에는 "거래금액(만원)"컬럼에 결측치가 있는 데이터는 아예 삭제해버리도록 하겠습니다.

### 10. 데이터프레임 `df`에서 "거래금액(만원)"컬럼에 결측치가 존재하는 데이터를 삭제하세요.

- `dropna`를 활용해서 "거래금액(만원)" 컬럼에 결측치가 존재하는 아파트 거래 데이터를 삭제하세요.
- 데이터 삭제 후 `dropna`의 `ignore_index`를 올바르게 설정하여 인덱스를 초기화해주어야 합니다.

In [60]:
df.dropna(subset=['거래금액(만원)'], ignore_index=True, inplace=True)
df.isna().sum()

시군구         0
단지명         0
전용면적        0
계약년월        0
계약일         0
거래금액(만원)    0
층           0
건축년도        2
구           0
동           0
유형          0
계약월         0
계약요일        0
dtype: int64

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12651 entries, 0 to 12650
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   시군구       12651 non-null  object
 1   단지명       12651 non-null  object
 2   전용면적      12651 non-null  float64
 3   계약년월      12651 non-null  object
 4   계약일       12651 non-null  datetime64[ns]
 5   거래금액(만원)  12651 non-null  object
 6   층         12651 non-null  int64
 7   건축년도      12649 non-null  float64
 8   구         12651 non-null  object
 9   동         12651 non-null  object
 10  유형        12651 non-null  object
 11  계약월       12651 non-null  int32
 12  계약요일      12651 non-null  object
dtypes: datetime64[ns](1), float64(2), int32(1), int64(1), object(8)
memory usage: 1.2+ MB

데이터가 33개 줄어들기는 했지만, 결측치가 있는 데이터가 삭제되었습니다. 

`info`를 통해 데이터의 정보를 다시 확인해보면 "거래금액(만원)"컬럼의 경우 데이터타입이 `object`인 것을 확인할 수 있습니다. 
### 11. 원활한 데이터 분석을 위해 콤마(,)를 삭제하고, 숫자형태 데이터로 바꾸어주도록 하겠습니다.
- str.replace()를 활용하여 "거래금액(만원)" 컬럼의 콤마(,)를 삭제하세요.
- 그리고 수치형 컬럼 형태로 타입을 변경하세요.

In [62]:
df['거래금액(만원)'] = df['거래금액(만원)'].str.replace(',', '').astype('int64')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12651 entries, 0 to 12650
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   시군구       12651 non-null  object
 1   단지명       12651 non-null  object
 2   전용면적      12651 non-null  float64
 3   계약년월      12651 non-null  object
 4   계약일       12651 non-null  datetime64[ns]
 5   거래금액(만원)  12651 non-null  int64
 6   층         12651 non-null  int64
 7   건축년도      12649 non-null  float64
 8   구         12651 non-null  object
 9   동         12651 non-null  object
 10  유형        12651 non-null  object
 11  계약월       12651 non-null  int32
 12  계약요일      12651 non-null  object
dtypes: datetime64[ns](1), float64(2), int32(1), int64(2), object(7)
memory usage: 1.2+ MB

"거래금액(만원)" 컬럼의 데이터 타입이 정수형으로 바뀐 것을 확인할 수 있습니다. 
### 12. 이제 거래금액을 기준으로 내림차순으로 정렬해보도록 하겠습니다.
- "거래금액(만원)" 컬럼을 내림차순으로 정렬 후, 상위 10개 데이터를 출력하세요.
- 원본 데이터프레임에 반영하지 않습니다.

In [63]:
df.sort_values(by='거래금액(만원)', ascending=False).head(10)

,시군구,단지명,전용면적,계약년월,계약일,거래금액(만원),층,건축년도,구,동,유형,계약월,계약요일
762,서울특별시 강남구 청담동,PH129,273.9600,202204,2022-04-28,1450000,16,2020.0,강남구,청담동,대형,4,목요일
11098,서울특별시 용산구 한남동,파르크한남,268.6700,202204,2022-04-30,1350000,5,2020.0,용산구,한남동,대형,4,토요일
8308,서울특별시 성동구 성수동1가,아크로서울포레스트,264.5460,202209,2022-09-30,1300000,47,2020.0,성동구,성수동1가,대형,9,금요일
11103,서울특별시 용산구 한남동,한남더힐,240.3050,202205,2022-05-30,1100000,3,2011.0,용산구,한남동,대형,5,월요일
11085,서울특별시 용산구 한남동,나인원한남,206.8953,202211,2022-11-07,945000,8,2019.0,용산구,한남동,대형,11,월요일
11086,서울특별시 용산구 한남동,르가든더메인한남,225.4100,202205,2022-05-26,900000,6,2019.0,용산구,한남동,대형,5,목요일
11087,서울특별시 용산구 한남동,르가든더메인한남,269.1200,202206,2022-06-02,900000,2,2019.0,용산구,한남동,대형,6,목요일
11106,서울특별시 용산구 한남동,한남더힐,235.3120,202207,2022-07-21,890000,3,2011.0,용산구,한남동,대형,7,목요일
8295,서울특별시 성동구 성수동1가,갤러리아포레,217.8600,202206,2022-06-03,880000,42,2011.0,성동구,성수동1가,대형,6,금요일
352,서울특별시 강남구 도곡동,타워팰리스1,301.4700,202205,2022-05-12,870000,56,2002.0,강남구,도곡동,대형,5,목요일

### 13. 이번엔 "거래금액(만원)" 컬럼의 평균값과 중앙값을 계산해보겠습니다.
- "거래금액(만원)" 컬럼의 평균과 중앙값을 구하고 출력하세요.

In [64]:
print(df['거래금액(만원)'].mean())
print(df['거래금액(만원)'].median())

97562.1373013991
75000.0

아파트의 거래금액 자체도 중요하지만 크기에 따른 가격 또한 매우 중요한 지표입니다.

"전용면적"컬럼의 단위는 제곱미터로, 이는 국제 표준 규격이지만 우리에게는 평 단위가 조금 더 익숙합니다. 
### 14. 1평은 대략 3.3㎡ 이므로, "전용면적"컬럼의 값을 3.3으로 나누어 덮어씌우고 컬럼의 이름을 "전용면적(평)"으로 변경합니다.

- `round(값, 자리수)` 반올림 함수를 활용하여, "전용면적" 컬럼을 3.3으로 나눈 후, 소수점 둘째자리까지 반올림하여 덮어쓰기를 하세요.
- "전용면적" 컬럼을 "전용면적(평)" 컬럼으로 이름을 변경하세요.

In [67]:
df['전용면적'] = round(df['전용면적']/3.3,2)
df.rename(columns={'전용면적': '전용면적(평)'}, inplace=True)
df.head()

,시군구,단지명,전용면적(평),계약년월,계약일,거래금액(만원),층,건축년도,구,동,유형,계약월,계약요일
0,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,2.22,202204,2022-04-12,220000,4,1987.0,강남구,개포동,중형,4,화요일
1,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,2.22,202204,2022-04-21,220000,2,1987.0,강남구,개포동,중형,4,목요일
2,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,2.22,202205,2022-05-27,216000,2,1987.0,강남구,개포동,중형,5,금요일
3,서울특별시 강남구 개포동,개포래미안포레스트,2.85,202204,2022-04-01,369000,13,2020.0,강남구,개포동,대형,4,금요일
4,서울특별시 강남구 개포동,개포래미안포레스트,3.78,202205,2022-05-02,420000,17,2020.0,강남구,개포동,대형,5,월요일

이제 "전용면적(평)"과 "거래금액(만원)" 컬럼을 활용해 "평당금액" 컬럼을 생성해보도록 하겠습니다.

### 15. 데이터프레임 `df`에 "평당금액" 컬럼을 생성하세요.

- 시리즈 연산을 활용한 데이터 변환을 통해 `df`에 "평당금액" 컬럼을 생성하세요.
- 평당금액은 "거래금액(만원)"값을 "전용면적(평)"값으로 나눈 값입니다.
- 그리고 평당금액을 소수점 둘째자리까지 반올림하세요.

In [68]:
df['평당금액'] = round(df['거래금액(만원)'] / df['전용면적(평)'], 2)
df.head()

,시군구,단지명,전용면적(평),계약년월,계약일,거래금액(만원),층,건축년도,구,동,유형,계약월,계약요일,평당금액
0,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,2.22,202204,2022-04-12,220000,4,1987.0,강남구,개포동,중형,4,화요일,99099.10
1,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,2.22,202204,2022-04-21,220000,2,1987.0,강남구,개포동,중형,4,목요일,99099.10
2,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,2.22,202205,2022-05-27,216000,2,1987.0,강남구,개포동,중형,5,금요일,97297.30
3,서울특별시 강남구 개포동,개포래미안포레스트,2.85,202204,2022-04-01,369000,13,2020.0,강남구,개포동,대형,4,금요일,129473.68
4,서울특별시 강남구 개포동,개포래미안포레스트,3.78,202205,2022-05-02,420000,17,2020.0,강남구,개포동,대형,5,월요일,111111.11

### 16. 이제 평당금액을 기준으로 다시 내림차순 정렬해보도록 하겠습니다.
- "평당금액" 컬럼을 기준으로 내림차순 정렬 후, 상위 10개 행을 출력하세요.
- 원본 데이터프레임에 반영하지 않습니다.

In [69]:
df.sort_values('평당금액', ascending=False).head(10)

,시군구,단지명,전용면적(평),계약년월,계약일,거래금액(만원),층,건축년도,구,동,유형,계약월,계약요일,평당금액
8144,서울특별시 서초구 잠원동,아크로리버뷰신반포,2.18,202206,2022-06-24,438000,26,2018.0,서초구,잠원동,중형,6,금요일,200917.43
7602,서울특별시 서초구 반포동,아크로리버파크,2.36,202201,2022-01-21,466000,8,2016.0,서초구,반포동,중형,1,금요일,197457.63
7584,서울특별시 서초구 반포동,반포주공1단지,2.99,202206,2022-06-29,590000,3,1973.0,서초구,반포동,대형,6,수요일,197324.41
762,서울특별시 강남구 청담동,PH129,7.62,202204,2022-04-28,1450000,16,2020.0,강남구,청담동,대형,4,목요일,190288.71
7583,서울특별시 서초구 반포동,반포주공1단지,2.99,202206,2022-06-20,565000,5,1973.0,서초구,반포동,대형,6,월요일,188963.21
7610,서울특별시 서초구 반포동,아크로리버파크,3.62,202205,2022-05-23,680000,19,2016.0,서초구,반포동,대형,5,월요일,187845.30
7586,서울특별시 서초구 반포동,반포주공1단지,3.90,202209,2022-09-06,730000,3,1973.0,서초구,반포동,대형,9,화요일,187179.49
7608,서울특별시 서초구 반포동,아크로리버파크,2.36,202204,2022-04-13,440000,22,2016.0,서초구,반포동,중형,4,수요일,186440.68
8145,서울특별시 서초구 잠원동,아크로리버뷰신반포,2.18,202207,2022-07-20,405000,11,2018.0,서초구,잠원동,중형,7,수요일,185779.82
7577,서울특별시 서초구 반포동,반포주공1단지,2.96,202204,2022-04-22,545000,1,1973.0,서초구,반포동,대형,4,금요일,184121.62

앞서 거래금액을 기준으로 정렬했던결과 많이 다른 결과를 얻을 수 있습니다. 이러한 결과를 부동산 도메인 지식과 함께 활용한다면 유용한 분석이 이루어질 수 있을 것입니다. 이렇게 새로운 지표로 이루어진 컬럼을 생성하는 것은 데이터 분석 과정에서 매우 중요합니다.

### 17. 이번엔 "구"컬럼을 기준으로 그룹을 묶어 서울의 각 구별 평당금액의 평균값을 확인해보도록 하겠습니다.
- groupby()를 활용하여, "구" 컬럼을 기준으로 그룹을 만든 뒤, "평당금액"의 평균을 출력하세요.

In [70]:
df.groupby('구')['평당금액'].mean()

구
강남구     82501.445607
강동구     47524.209743
강북구     33782.909161
강서구     37234.630015
관악구     37539.580526
광진구     51218.803228
구로구     31626.119935
금천구     36430.883141
노원구     40147.717919
도봉구     32030.378988
동대문구    39836.915292
동작구     51141.260255
마포구     56384.680496
서대문구    43831.448243
서초구     83808.996473
성동구     66169.790590
성북구     40614.171257
송파구     70667.870292
양천구     47162.529790
영등포구    43865.345710
용산구     71612.993320
은평구     37985.230915
종로구     42248.450407
중구      43699.855362
중랑구     35777.079512
Name: 평당금액, dtype: float64

### 20. 서초구의 동 중 **평당금액** 평균이 2번째로 높은 동의 이름을 입력하세요.
*`groupby`와 "구", "동" 컬럼을 활용하여 서초구의 각 동별 **평당금액 평균값**을 구할 수 있습니다.

- "구" 컬럼을 활용하여 "구" 중에서 "서초구"의 각 동별 평당금액의 평균값을 df_grouped 변수에 저장하세요.
- 위 변수를 활용하여 "평당금액"의 평균값이 2번째로 높은 동의 "이름"을 추출하여 출력하세요.
  - 힌트: "평당금액"의 평균 결과를 Series가 아닌 DataFrame 형태로 만드세요.

In [105]:
df_grouped = df.loc[df['구']=='서초구',['동','평당금액']].groupby('동')['평당금액'].mean().reset_index()
df_grouped = df_grouped.sort_values('평당금액', ascending=False).reset_index(drop=True)
df_grouped.loc[1, '동']

'잠원동'

In [106]:
df_grouped = df.loc[df['구']=='서초구',['동','평당금액']].groupby('동')[['평당금액']].mean()
df_grouped = df_grouped.sort_values('평당금액', ascending=False)
df_grouped.index[1]

'잠원동'