# 기초 자료형과 출력

## 숫자 자료형

숫자로 이루어진 자료형으로, 숫자 간의 연산이 가능하다.

In [11]:
a= 15
print(type(a))
print(a)

<class 'int'>
15

In [12]:
a = 3.14
print(type(a))
print(a)

<class 'float'>
3.14

## 문자 자료형
문자나 문자 여러개가 나열되어 이루어진 자료형

In [13]:
a = "안녕하세요, 만나서 반갑습니다."
print(type(a))
print(a)

<class 'str'>
안녕하세요, 만나서 반갑습니다.

## 주석
프로그램이 실행 될 때 무시되는 코드로, 보통 코드에 대한 설명을 작성할 때 주로 사용

In [14]:
# 이 줄은 실제로 실행 될 때, 무시가 됩니다!

## 출력

In [22]:
print("이것은 문자열", -35, 3.14)

이것은 문자열 -35 3.14

In [24]:
print("안녕하세요! 삼행시를 지어보려고 해요.")
print("박수칠 때 떠나고 싶지만")
print("상상만 해도 힘들다")
print("선생님 몰래 도망가자.")

안녕하세요! 삼행시를 지어보려고 해요.
박수칠 때 떠나고 싶지만
상상만 해도 힘들다
선생님 몰래 도망가자.

### 이스케이프 시퀀스(Escape Sequence)
- 문자 그대로 출력하기 어려운 기능을 표현하기 위해 약속된 특수한 문자

| 기호 | 설명 |
|---|---|
| \n | 줄바꿈 |
| \t | 수평 탭 |
| \b | 백 스페이스 |
| \\\ | 문자 백슬래시 |
| \\' | 문자 작은 따옴표 |
| \\" | 문자 큰 따옴표 |

In [25]:
print("박수 칠 때 떠나고 싶지만\n상상만 해도 힘들다.\n선생님 몰래 도망가자.")

박수 칠 때 떠나고 싶지만
상상만 해도 힘들다.
선생님 몰래 도망가자.

## 변수
변할 수 있는 값, (자료형)값을 하나를 보관하는 이름표를 가진 보관소

- 변수 이름 = (자료형) 값  


    --> 같다(equal)의 의미가 아닌 할당하다(assign)의 의미

***값을 변수에 할당하다/저장하다/보관하다/대입하다***

In [ ]:
num = 15
name = "kevin"

print(num)
print(name)

15
kevin

In [2]:
# 같은 변수에 대해서 값을 할당하게 되면, 마지막 선언한 값이 해당 변수에 할당됨을 명심!!!
var1 = 31
var1 = 34

print(var1)

34

**변수 이름 짓는 규칙**
1. 변수 이름이 **숫자**로 시작하면 안됨.
2. **숫자**로만 구성된 변수 이름 금지.
3. 파이썬 문법에서 사용되는 **예약어** 사용 금지.
4. **언더스코어**(_)을 제외한 특수문자 사용 금지.

**관례적인 규칙**
1. 보통 알파벳과 숫자를 조합하여 사용
2. 보통 저장되는 값이 의미하는 바를 명사 단어 단위로 표현
3. snake_case 사용

## 자료형의 연산

숫자형 자료형의 기본 연산자
 - \+   : 더하기 
 - \-   : 빼기  
 - \*   : 곱하기 
 - \/   : 나누기

In [5]:
print(10+10)  # 20
print(10-5)  # 5
print(3*5)  # 15
print(9/4)  # 2.25

20
5
15
2.25

숫자형 자료형의 **특수**연산자  
- //  : 몫 나눗셈 연산자
- %   : 나머지 연산자
- **  : 제곱 연산자

In [6]:
print(20 // 4) # 5
print(9 // 4) # 2
print(17 // 4) # 1
print(2 // 4) # 16

5
2
4
0

연산자의 특징 - 순환하거나 주기적인 패턴이 띄는 곳에서 주로 활용
ex) 시계 계산, 요일 계산, 리스트 인덱스 순환, 배수

In [8]:
hour = 23
after = 5
new_hour = (hour + after) % 24
print(new_hour)

4

(1) 문자열 이어붙이기 연산자(concatenate)

In [9]:
# 문자열 + 문자열
print("안녕" + "하세요")

안녕하세요

(2) 문자열 반복 연산자(Repetition)

In [10]:
# 문자열 * 숫자
print("안녕" * 3)

안녕안녕안녕

(3) 연산자의 확장
- 연산 수식 축약 표현 : 변수 자기 자신에게 연산을 하는 경우

|종류|기존 수식|축약 수식|
|---|---|---|
|덧셈|a = a + 1| a += 1|
|뺄셈|a = a - 1| a -= 1|
|곱셈|a = a * 1| a *= 1|
|나눗셈|a = a / 1| a /= 1|

*다른 연사자도 가능합니다.*

In [14]:
total1 = 0
total2 = 0

total1 = total1 + 5
total2 += 5

print(total1)
print(total2)

5
5

In [16]:
a = 1
b = 1

a = a * 2
b *= 2

print(a)
print(b)

2
2

# 입력과 형 변환(Type Casting)

## 입력
- 컴퓨터에게 입력하기 input() 함수
    - 사용자에게 한 줄 단위로 값을 입력 받음
    - 입력 받은  값은 변수에 보관하여 사용.

In [19]:
value = input("값을 입력하세요. :")

In [20]:
print(value)

100

무엇을 입력하던 **문자열 형태**로 입력을 받는다.

In [22]:
# 값의 타입을 확인해보자! type()함수
int_var = 123
str_var = "Hello"

print(type(int_var))
print(type(str_var))

<class 'int'>
<class 'str'>

입력받은 자료형을 해당 자료형답게 사용하기 위해서는 자료형의 변환이 필요하다.

In [23]:
num1 = input()
num2 = input()

In [24]:
print(num1)
print(num2)
print(num1+num2)
# 각 입력하는 숫자들이 그저 나열되는 형태

3
8
38

## 형 변환 함수
- 문자열을 정수로, 또는 실수로 바꾸고 싶다면? 자료형을 형 변환해줘야 함.  

|형 변환 함수|이름|예시|결과|
|---|---|---|---|
|int()|**int**eger|int("1008")|1008|
|float()|**float**ing point|float("3.14")|3.14|
|str()|**str**ing|str(2.71)|"2.71"|

문자열을 정수로, 또는 실수로 바꾸고 싶다면? 자료형을 형 변환해주어야 함.

In [25]:
a = "1200"
b = "3.14"

a = int(a)
b = float(b)

In [26]:
print(type(a))
print(a)
print(type(b))
print(b)

<class 'int'>
1200
<class 'float'>
3.14

In [27]:
# 입력 받을 때, 한번에 형 변환하기

int_num = int(input())
float_num = float(input())

In [28]:
print(type(int_num))
print(int_num)
print(type(float_num))
print(float_num)

<class 'int'>
123
<class 'float'>
27.45

**주의할 점!**  
변환하고자 하는 값의 타입이 서로 호환되어야 한다.  
숫자형 문자열 <-> 숫자형, 숫자형<->숫자형 등등

In [29]:
print(int("I am Strong"))

ValueError: invalid literal for int() with base 10: 'I am Strong'

# 논리 자료형과 비교/논리 연산자

## 논리 자료형(Boolean) 
- 참(True) 또는 거짓(False) 값을 갖는 자료형(bool 타입)  
*True는 1, False는 0으로도 간주된다.

In [30]:
print(True)
print(False)
print(type(True))

True
False
<class 'bool'>

다양한 값들에 대한 명제 안에서의 비교를 통해 논리 자료형의 값이 결과로 나옴

In [31]:
print(3 < 5) # 주어진 명제가 참이면 True
print(7 == 5) # 주어진 명제가 거짓이면 False
print(1 >= 5) # False

True
False
False

## 비교 연산자
- 명제의 두 값을 비교하여 결과를 논리 자료형 형태로 반환

| 연산자 | 설명 | 예시 | 결과 |
| --- | --- | --- | --- |
| == | 같다 | 3 == 3 | True |
| ≠ | 같지 않다 | 3 ≠ 5 | True |
| > | 왼쪽이 더 크다 | 3>5 | False |
| < | 오른쪽이 더 크다 | 3<5 | True |
| ≥ | 왼쪽이 크거나 같다 | 3≥5 | False |
| ≤ | 오른쪽이 크거나 같다 | 3≤5 | False |

- 값 비교를 반드시 숫자형만 가능한 것이 아니다!
- 문자열, 그리고 그 뿐만 아니라 다른 자료형도 가능하다.

### 아스키코드(ASCII Code)
컴퓨터가 문자(알파벳, 숫자, 기호)를 숫자로 약속한 표

In [51]:
'''
문자 A = 65
문자 B = 66

문자 a = 97
문자 b = 98
'''
print("A" < "B")
print("a" < "b")
print("A" < "a")
print("aaa" < "aab")  
print("aab" < "aba")  # 9798 < 9897

True
True
True
True
True

### 논리 연산자(Logical Operators)
여러 조건을 동시에 확인해야할 때, 복잡한 조건을 표현할 때 사용되는 연산자

1. and 연산자
    - 두(또는 그이상) 명제가 **모두 참**이어야 참이 되는 연산자

|경우|결과|
|---|---|
|True and True|True|
|True and False|False|
|False and True|False|
|False and False|False|

In [40]:
'''
3==3 : 3은 3와 같은가요?        True
4<=5 : 4는 5와 작거나 같은가요?  True
6>2  : 6은 2보다 큰가요?        True
'''
print(3==3 and 4<=5 and 6>2)

True

2. or 연산자
    - 두(또는 그이상) 명제 중 **하나라도 참**이면 참이 되는 연산자

|경우|결과|
|---|---|
|True and True|True|
|True and False|True|
|False and True|True|
|False and False|False|

In [41]:
'''
3==4 : 3은 4와 같은가요?        False
4<=5 : 4는 5와 작거나 같은가요?  True
6<2  : 6은 2보다 작은가요?      False
'''
print(3==4 or 4<=5 or 6<2)

True

3. not 연산자
- 명제의 결과를 뒤집음

In [45]:
'''
3은 4와 같은 것   =>  False
3은 4와 같은 것이 아니다 => Ture
'''
print(3==4)
print(not 3==4)

False
True

4. 연산의 우선순위

|우선순위|연산자|
|---|---|
|1|()|
|2|**|
|3|*, /, %, //|
|4|+, -|
|5|>, >=, <, <=|
|6|==, !=|
|7|and, or, not|

In [48]:
'''
1. 괄호에 의해 3+4
2. 곱셉에 의해 7*2
3. >에 의해 14>10
'''

result = (3 + 4) * 2 > 10
print(result)

True

In [ ]:
'''
1. 첫번째 괄호의 a*b
2. 첫번째 괄호의 10>8
3. 두번째 괄호의 c//b
4. 두번째 괄호의 5==5
5. and 연산의 True and True
'''

a=5
b=2
c=10
result = (a*b>8) and (c // b == 5)
print(result)

True